.svn/
.settings/
node_modules/
typings/
bin/

src/com/otoil/gantt/*
!src/com/otoil/gantt/public/
src/com/otoil/gantt/public/*
!src/com/otoil/gantt/public/gantt-ext/

example-data*.xml
npm-debug.log*
remove-logs.kts
.classpath
.project