.caption_row {
    position: absolute;
    text-align: center;
    font-family: Arial;
    color: #aaaaaa;
}

.caption_task {
    visibility: hidden;
    border: 2px solid rgba(255, 200, 0, 0.2);
    color: #6ba8e3;
    background: rgba(255, 200, 0, 0.1);
}
.caption_task .gantt_task_progress {
    background: #D9DF29;
}